#popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    top: 0;
    left: 0;
}

#popup-container .content {
    background: var(--black);
    max-width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    animation: scalePopup .5s;
    padding: 10px;
    line-height: 1.5;
}

#popup-container .content .message{
    text-align: center;
}


#popup-container button:hover{
    background: var(--blue);
}

@keyframes scalePopup {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}
