.table-continer{
    width: 100%;
    height: 500px;
    overflow: auto;
}
#table-statistics{
    width: 100%;
    border-collapse: collapse;
}
#table-statistics td,
#table-statistics th,
#table-statistics tr
{
    border: 2px solid;
    font-size: 23px;
    padding: 22px;
    color: white;
}

#statistics{
display: flex;
flex-direction: column;
gap: 30px;
background: var(--black) !important;
padding-top: 50px;
}